<a href="https://colab.research.google.com/github/ayuksekdag/datacompare_python/blob/main/datacompy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install datacompy
import pandas as pd

Requirement already satisfied: datacompy in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from datacompy) (1.19.5)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from datacompy) (1.1.5)
Requirement already satisfied: ordered-set>=4.0.2 in /usr/local/lib/python3.7/dist-packages (from datacompy) (4.1.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->datacompy) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->datacompy) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)

In [ ]:
df1 = pd.DataFrame ({'loanid': [2, 4, 8, 0],
                   'loanamt': [11, 10, 12, 14]},
                  )

df2 = pd.DataFrame ({'loanid': [2, 4, 8, 0],
                   'loanamt': [11, 10, 12, 13]},
                  )

In [ ]:
df1

   loanid  loanamt
0       2       11
1       4       10
2       8       12
3       0       14

In [ ]:
df2

   loanid  loanamt
0       2       11
1       4       10
2       8       12
3       0       13

In [ ]:
import datacompy

compare = datacompy.Compare(
  df1,
  df2,
  join_columns='loanid', #You can also specify a list of columns
  abs_tol=0.0001,
  rel_tol=0,
  df1_name='original',
  df2_name='new'
)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  original        2     4
1       new        2     4

Column Summary
--------------

Number of columns in common: 2
Number of columns in original but not in new: 0
Number of columns in new but not in original: 0

Row Summary
-----------

Matched on: loanid
Any duplicates on match values: No
Absolute Tolerance: 0.0001
Relative Tolerance: 0
Number of rows in common: 4
Number of rows in original but not in new: 0
Number of rows in new but not in original: 0

Number of rows with some compared columns unequal: 1
Number of rows with all compared columns equal: 3

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 1

Columns with Unequal Values or Types
------------------------------------

    Column original dtype new dtype  # Unequal  Max Diff  # Null Diff
0  loanamt          int64     int64          1       1.0            0

Sample Rows with Unequal Values
-------------------------------

   loanid  loanamt (original)  loanamt (new)
3       0                  14             13